/*
a{
    text-decoration: none;
    font-size: 15px;
    color: #9e9e9e;
}

.pag{
    margin: 30px;
    width: 30px;
    color: #9e9e9e;
}

#current_pag{
    margin: 30px;
    width: 30px;
    font-size: 30px;
}
*/

